.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/PIMD_updated_2.rds
saved/09_pimdnegqueries.rds
saved/09_pimdnegqueries.rds
saved/09_qimdqueries_2.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/PIMD_updated_2.rds
saved/09_pimdnegqueries.rds
saved/09_qimdqueries_2.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/PIMD_updated_2.rds
saved/09_pimdnegqueries.rds
saved/09_pimdnegqueries.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/PIMD_updated_2.rds
saved/09_pimdnegqueries.rds
saved/09_qimdqueries_2.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/PIMD_updated_2.rds
beliefs.pdf
