.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
saved/ch15_pimd_nonmon_model.rds
saved/ch15_pimd_model.rds
saved/ch15_pimd_negmed_model.rds
